.wpcf7{
	font-family: 'Open Sans Condensed', arial, sans;
	width: 100%;
	padding: 30px;
	background: #FFFFFF;
	margin: 0em auto;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

    h2{
        background: #4D4D4D;
        text-transform: uppercase;
        color: #797979;
        font-size: 18px;
        font-weight: 100;
        padding: 20px;
        margin: -30px -30px 30px -30px;
    }
    input[type="text"],
    input[type="date"],
    input[type="datetime"],
    input[type="email"],
    input[type="number"],
    input[type="search"],
    input[type="time"],
    input[type="url"],
    input[type="password"],
    textarea,
    select 
    {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        display: block;
        width: 100%;
        padding: 7px;
        border: none;
        border-bottom: 1px solid $redDdb;
        background: transparent;
        margin-bottom: 10px;
        font: 16px Arial, Helvetica, sans-serif;
        height: 45px;
    }
    textarea{
        //resize:none;
        overflow: hidden;
    }
    input[type="button"], 
    input[type="submit"],
    {
        -moz-box-shadow: inset 0px 1px 0px 0px $redDdb;
        -webkit-box-shadow: inset 0px 1px 0px 0px $redDdb;
        box-shadow: inset 0px 1px 0px 0px $redDdb;
        background-color: $redDdb;
        border: 1px solid $redDdb;
        display: inline-block;
        cursor: pointer;
        color: #FFFFFF;
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 14px;
        padding: 8px 18px;
        text-decoration: none;
        text-transform: uppercase;
    }
    input[type="button"]:hover, 
    input[type="submit"]:hover {
        //background:linear-gradient(to bottom, #000000 5%, #30C9C9 100%);
        background-color:#000000;
        border: 1px solid #000000;
        box-shadow: inset 0px 1px 0px 0px #000000;
    }

    
}
