@import 'variables';

@media screen and (min-width: 990px){

    header{
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        padding-left: 2em;
        padding-right: 2em;
        .navbar{
        background-color: rgba(152, 152, 152, 0)!important;
            .nav-logo{
                max-height: 110px;
            }
            .navbar-nav {
                .nav-link {
                    color: #ffffff;
                    font-family: Lato;
                    font-weight: 700;
                    font-size: 1em;
                    line-height: 1;
                    text-transform: uppercase;
                    padding: 3em 1em;
                    transition: 0.5s;
                    
                    &:hover{
                        color: $redDdb;
                        .dropdown-menu{
                            display: block !important;
                        }
                    }
                }
                

                > .menu-item-has-children {
                    &:hover > .dropdown-menu{
                        display: block;
                        opacity: 0;
                        -webkit-animation: fadein 0.5s;
                        -moz-animation: fadein 0.5s;
                        -ms-animation: fadein 0.5s;
                        -o-animation: fadein 0.5s;
                        animation: fadein 0.5s;
                        opacity: 1;
                    }
                    @keyframes fadein {
                        from { opacity: 0; }
                        to   { opacity: 1; }
                    }
                    /* Firefox */
                    @-moz-keyframes fadein {
                        from { opacity: 0; }
                        to   { opacity: 1; }
                    }
                    /* Safari and Chrome */
                    @-webkit-keyframes fadein {
                        from { opacity: 0; }
                        to   { opacity: 1; }
                    }
                    /* Internet Explorer */
                    @-ms-keyframes fadein {
                        from { opacity: 0; }
                        to   { opacity: 1; }
                    }
                    /* Opera */
                    @-o-keyframes fadein {
                        from { opacity: 0; }
                        to   { opacity: 1; }
                    }
                    .dropdown:hover .dropbtn {
                        background-color: #2c2c2c;
                    } 
                }
            }
            .menu-item-has-children {
                .dropdown-menu{
                    > .menu-item-has-children {
                        &:hover > .dropdown-menu{
                            display: block;
                        }
                    }
                }
            }
            .dropdown-menu{
                margin-top: 0;
                font-family: Lato;
                font-weight: 400;
                letter-spacing: 0px;
                font-style: normal;
                text-transform: uppercase;
                font-size: 14px;
                background: #efefefeb;
                border-radius: 0;
                padding: 0px;
                li a{
                    padding: 1em;
                    border-bottom: 1px solid #ffffff;  
                    &:hover{
                        background: #dedede;
                    }
                }
                .dropdown-menu{
                    left: 100%;
                    top:0;
                }
            }
        }
    }
}