@import 'variables';

/*----------------------- Preloader -----------------------*/
#preloader {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#ffffff; /* change if the mask should have another color then white */
    z-index:99999; /* makes sure it stays on top */
}
#status {
    width:150px;
    height:150px;
    position:absolute;
    left:45%; /* centers the loading animation horizontally one the screen */
    top:45%; /* centers the loading animation vertically one the screen */
    background-image:url("http://ddb.test/wp-content/uploads/2020/06/spinner.gif");
    z-index:9999; /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    background-size: contain, cover;
    //margin:-10px 0 0 -36px; /* is width and height divided by two */
}
/*----------------* Preloader end ------------------------------*/

@media screen and (min-width: 990px){
    .sticky {
        position: fixed ;
        width: 100% ;
        top: 0;
        transition: position 0.7s ease;
        background: #ffffff  !important;
        box-shadow: 0px 6px 11px rgba(33, 33, 33, 0.53);
        
        .container {
            .collapse{
                nav >ul >li{
                    >a{
                        transition: padding 0.5s ease;
                        padding: 2.5em 1em;
                    }
                } 
            }
            .navbar-brand {
                img{
                    transition: max-height 0.3s ease-out;
                    max-height: 50px;
                    padding: 0px 0px;
                }
            }
        }
    }
    .sticky-search{
        top: 80px !important;
    }


    header{
        background: #ffffff;
        position: relative;
        width: 100%;
        padding-left: 2em;
        padding-right: 2em;
        border-bottom: 2px solid $redDdb;
        box-shadow: 0px 6px 11px rgba(33, 33, 33, 0.53);
        z-index: 999;
        .navbar{
            top: 0;
            transition: background-color 0.7s ease;
            background-color: rgba(93, 93, 93, 0) ;
            margin: 0 -2em;
            padding: 0 1em;
            .nav-logo{
                transition: max-height 0.2s ease-in;
                max-height: 70px;
                margin: 0.5em 0;
            }
            .navbar-nav {
                .current-menu-item:not(:last-child) {
                    a{
                        color: $redDdb !important;
                    }
                }

                .nav-link {
                    color: $grayDdb;
                    font-family: Lato;
                    font-weight: 700;
                    font-size: 0.8em;
                    line-height: 1;
                    text-transform: uppercase;
                    padding: 3.5em 1em;
                    transition: 0.5s;
                    
                    &:hover{
                        color: $redDdb;
                        .dropdown-menu{
                            display: block !important;
                        }
                    }
                }
                

                > .menu-item-has-children{
                    &:hover > .dropdown-menu{
                        display: block;
                        opacity: 0;
                        -webkit-animation: fadein 0.5s;
                        -moz-animation: fadein 0.5s;
                        -ms-animation: fadein 0.5s;
                        -o-animation: fadein 0.5s;
                        animation: fadein 0.5s;
                        opacity: 1;
                    }
                    @keyframes fadein {
                        from { opacity: 0; }
                        to   { opacity: 1; }
                    }
                    /* Firefox */
                    @-moz-keyframes fadein {
                        from { opacity: 0; }
                        to   { opacity: 1; }
                    }
                    /* Safari and Chrome */
                    @-webkit-keyframes fadein {
                        from { opacity: 0; }
                        to   { opacity: 1; }
                    }
                    /* Internet Explorer */
                    @-ms-keyframes fadein {
                        from { opacity: 0; }
                        to   { opacity: 1; }
                    }
                    /* Opera */
                    @-o-keyframes fadein {
                        from { opacity: 0; }
                        to   { opacity: 1; }
                    }
                    .dropdown:hover .dropbtn {
                        background-color: #2c2c2c;
                    } 
                }
                // > li {
                //     &:last-child{
                //         display: flex;
                //         align-items: center;
                //         padding-left: 1em;
                //         a{
                //             padding: 1.2em 2em;
                //             //background-image: linear-gradient(to top,$redDdb,#a5010f);
                //             border: 1px solid $redDdb;
                //             color: $grayDdb !important ;
                            
                //             &:hover{
                //                 color: #ffffff !important ;
                //                 background-image: linear-gradient(to bottom,$redDdb,#a5010f);
                //             }
                //         }
                //     }
                // }
            }
            .menu-item-has-children {
                .dropdown-menu{
                    > .menu-item-has-children {
                        &:hover > .dropdown-menu{
                            display: block;
                        }
                    }
                }
            }
            .dropdown-menu{
                margin-top: 0;
                font-family: Lato;
                font-weight: 400;
                letter-spacing: 0px;
                font-style: normal;
                text-transform: uppercase;
                font-size: 14px;
                background: #efefefeb;
                border-radius: 0;
                padding: 0px;
                li a{
                    padding: 1em;
                    border-bottom: 1px solid #ffffff;  
                    &:hover{
                        background: #dedede;
                        color: $redDdb;
                    }
                }
                .dropdown-menu{
                    left: 100%;
                    top:0;
                }
            }
        }
        .search-button-main{
            margin-left: 1em;
            cursor: pointer;
            background: $redDdb;
            color: #ffffff;
            height: 50px;
            width: 50px;
        }

        #search-form-main{
            display: none;
        }
        .search-form-main-display{
            display: block !important;
            position: absolute;
            top: 100px;
            right: 7em;
            //padding: 1em;
            height: 55px;
            border-radius: 0 0 5px 5px;
            padding: 5px 8px 0px 8px;
            background: #ffffff;
            animation: search 1s;
            
        }
          @keyframes search {
            0% { opacity: 0; height : 0;}
            25%{ height: 55px;}
            100%{ opacity: 1; }
          }
        // .search-animate{        
        //     animation-name: search;
        //     animation-duration: 0.3s;
        //     z-index: -1;
        // }
        // @keyframes search {
        //     0%   {top:0px; opacity: 1;}
        //     100% {top:-10px; opacity: 0;}
        // }

        
    }

    .top-bar{
        background: $redDdb;
        color: #ffffff;
        margin: 0 -3em;
        font-size: 0.8em;
        padding: 1em 2em 1em 0em;
        border-bottom: 0.5px solid rgba(255, 255, 255, 0.527) ;

        a{
            color: #ffffff;
            text-decoration: none;

            &:hover{
                color: #d6d6d6;
            }
        }
        
        i{
            color: #ffffff;
            margin-right: 3px;
        }

        .header-social{
            i{
                font-size: 1.5em;
                color: #ffffff !important;

                &:hover{
                    color: $redDdb !important;
                }
            }
        }

    }
}

@media (max-width:990px) and (min-width:100px) {
    .nav-placeholder{
        display: none;
    }
    #status {
        width:100px;
        height:100px;
        left:40%; /* centers the loading animation horizontally one the screen */
        top:40%; /* centers the loading animation vertically one the screen */
        //margin:-10px 0 0 -36px; /* is width and height divided by two */
    }
    /*----------------* Preloader end ------------------------------*/

    .top-bar{
        display: none;
    }

    header{
        background: #ffffff;
        .navbar{
            background-color: #ffffff !important;

            .nav-logo{
                max-height: 90px;
                margin: 0.5em 0;
            }

            .navbar-collapse{
                ul li{
                    text-align: center;
                }
            }
        }
    }
 
}

