.page-hero-text{
    padding: 200px 0px 70px;
    background-position: left top;
    height: auto;
    h1{
        font-size: 2em;
        text-transform: uppercase;
        &:after{
            transform: translateX(-50%);
            content: '';
            left: 50%;
            bottom: 0;
            position: absolute;
            width: 10em;
            height: 2px;
            background: $redDdb;
        }
    }
}

.section-nosotros{
    text-align: center;
    color: #858585;
    img{
        border-radius: 50%;
        max-height: 70px;
    }
}

.principios-corporativos{
    i{
        font-size: 3em;
        color: $redDdb;
    }
}

@media (max-width:990px) and (min-width:100px) {
    .page-hero-text{
        padding: 100px 0px 70px;
        background-position: left top;
        height: auto;
        h1{
            font-size: 3em;
            text-align: center;
            &:after{
                width: 5em;
            }
        }
    }    
}