.sprite-etica{
    width: 85px;
    height: 85px;
    background: url($sprites) -610px -740px;
    
}
.sprite-cumplimiento-normativo{
    width: 85px;
    height: 85px;
    background: url($sprites) -730px -985px;
}
.sprite-actuacion{
    width: 85px;
    height: 85px;
    background: url($sprites) -855px -245px;
}
.sprite-reputacion{
    width: 85px;
    height: 85px;
    background: url($sprites) -731px -735px;
}
.sprite-buenas-practicas{
    width: 85px;
    height: 85px;
    background: url($sprites) -1220px -980px;
}