.sprite-etica{
    width: 85px;
    height: 85px;
    background: url($sprites) -610px -740px;
    
}
.sprite-cumplimiento-normativo{
    width: 85px;
    height: 85px;
    background: url($sprites) -730px -985px;
}
.sprite-actuacion{
    width: 85px;
    height: 85px;
    background: url($sprites) -855px -245px;
}
.sprite-reputacion{
    width: 85px;
    height: 85px;
    background: url($sprites) -731px -735px;
}
.sprite-buenas-practicas{
    width: 85px;
    height: 85px;
    background: url($sprites) -1220px -980px;
}

.sprite-comercializacion{
    width: 85px;
    height: 85px;
    background: url($sprites) -490px -370px;
}

.sprite-distribucion{
    width: 85px;
    height: 85px;
    background: url($sprites) -980px -1600px;
}

.sprite-capacitacion{
    width: 85px;
    height: 85px;
    background: url($sprites) -1100px -490px;
}

.sprite-responsabilidad-social{
    width: 85px;
    height: 85px;
    background: url($sprites) -1592px 5px;
}

.sprite-tiempo{
    width: 85px;
    height: 85px;
    background: url($sprites) -850px -1355px;
}

.sprite-fecha{
    width: 85px;
    height: 85px;
    background: url($sprites) -610px 0px;
}

.sprite-telefono{
    width: 85px;
    height: 85px;
    background: url($sprites) -1100px -1100px;
}

.sprite-alianza{
    width: 85px;
    height: 85px;
    background: url($sprites) -1710px -1230px;
}

.sprite-inventarios{
    width: 85px;
    height: 85px;
    background: url($sprites) -610px -980px;
}

.sprite-soporte{
    width: 85px;
    height: 85px;
    background: url($sprites) -855px -735px;
}